<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.projectnim.org/">Project Nim</a></strong>
			- Python wrapper library to web3py that allows to interact with the Ethereum Network.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Secured Chess</a></strong>
			- Experiment on playing secured chess with states channels through Ethereum Smart contracts.
		</h5>
		
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Azure-Agst/hackfsu-2019">NoleCoin - HackFSU 2019 project </a></strong>
			- Wrote API for crypto-currency mobile app, includes features like QR code scanning and real interaction with the Ethereum network. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ChristopherHolder/boost-asio-ping">Ping</a></strong>
			- Ping clone written in C++ with Boost.Asio.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Redent0r/Chelll">Linux Shell </a></strong>
			-  Shell with support for most Linux command and features.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/manterolat/cop4610_project2">Elevator Kernel Module </a></strong>
			- Kernel Module Elevator simulation.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ChristopherHolder/RecalcInterpreter">Language Interpreter </a></strong>
			-  Created Interpreter in C with Lex and Yacc for the Recalc programming language defined in the project.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ChristopherHolder/Ethernal">Ethernal</a></strong>
			- A decentralized peer-to-peer lottery platform. Includes its android app.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/COP4656-G1/skies">Skies</a></strong>
			- Android game that measures how fast you can make your phone spin.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/COP4656-G1/Susa">Susa</a></strong>
			- Android app for sublease listings powered by Firebase.
		</h5>
		
		
		<!--
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/COP4656-G1/Susa">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		-->
		
		<!--
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>
		-->

    </div>
  </div>
</div>
</section>
